{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/aal8ufp.css">
</head>
<body class="Background">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
        <a class="nav-link" href=/events/>Home <span class="sr-only">(current)</span></a>
		</li>
      <li class="nav-item">
        <a class="nav-link" href="/events/registered/">Registered</a>
      </li>
    </ul>
	{% if user.is_authenticated %}
	<span class="navbar-text">
      Welcome, {{ user.username }}!
    </span>
	<ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
	</ul>
	{% else %}
	<ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Log In</a>
      </li>
	</ul>
	{% endif %}
	
	
	
  </div>
</nav>
<br>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
      </div>
  </body>
</html>