<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ku-Event-Regis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    </head>
	<body class="Background">
		<div class="container-fluid">
			<h1 class="Header">"{{ event }}" Details</h1>
			<h2 class="Detail_font">Event Date: {{event.event_date}}</h2>
			<h2 class="Detail_font">About this event: {{event.description}}</h2>
			<h2 class="Detail_font">Time: {{event.start_time}} to {{event.end_time}}</h2>
			<h2 class="Detail_font">{{event.user.all.count}} Peoples want to join this event!</h2>
			
			
			<form action="{% url 'events:regis' event.id %}" method="post">
				{% csrf_token %}
					<button type='submit' name='UserID' value={{user.id}}>Register</button>

			</form>
			
		</div>
	</body>
</html>
