<html>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}">

{% if user.is_authenticated %}
	Welcome back, {{ user.username }} 
	
	<a href="{% url 'logout' %}"> Logout </a>
	
{% else %}
	<p><a href="{% url 'login' %}?next={{request.path}}"> Login </a> to register the events!.</p>
{% endif %}

<h1>Soon Interesting Events!</h1>

<table>

	<tr>
		<th>Event</th>
		<th>Date</th>
		<th>Register</th>

		
		
	
	

		

{% if events_list %}
    <ul>
    {% for event in events_list %}
		<tr>
        <td>{{ event.name }}</li></td>
		<td>{{ event.event_date }}</td>
		<td><a href="/events/{{ event.id }}/">Register</a></td>
		</tr>
		
    {% endfor %}
    </ul>
{% else %}
    <p>No events are available.</p>
{% endif %}


</table>

<a href="/events/registered/ ">Your Registered Event</a>
</body>
</html>
