{% extends "events/base.html" %}
{% load staticfiles %} 
{% block title %}KU Event Regis{% endblock %}
{% block content %}
        <h1>Soon Interesting Events!</h1>
        <table class="table table-bordered">
            {% if events_list %}
            <tr class="bg-success">
                <th class="Detail_font">Event</th>
                <th class="Detail_font">Date</th>
                <th class="Detail_font">Details</th>
                <th class="Detail_font">Joined</th>
                <th class="Detail_font">Register</th>
            </tr>
            <ul>
                {% for event in events_list %}
				{% if event.user.all.count != event.max_regis %}
                <tr>
                    <td class="table-success">{{ event.name }}</td>
                    <td class="table-success">{{ event.event_date }}</td>
                    <td class="table-success"><a href="/events/{{ event.id }}/">Details</a></td>
                    {% if event.max_regis is None %}
                    <td class="table-success" >{{event.user.all.count}}</td>
                    {% else %}
                    <td class="table-success">{{event.user.all.count}} / {{event.max_regis}}</td>
                    {% endif %}
                    {% if user in event.user.all %}
                    <td height=40 class="table-success" center align="center"><img width=35 height=35 src="{% static 'events/images/check.png' %}" alt="check"></td>
                    {% else %}
                    <td height=40 class="table-success"></td>
                    {% endif %}
                </tr>
				{% endif %}
                {% endfor %}
             </ul>
            {% else %}
            <p class="Header">No events are available.</p>
            {% endif %}
        </table>
		</br>
		<div class="alert alert-info" role="alert">
		<h2>Reminder</h2>
        {% for event in user.event_set.all %}
		{% if event.is_soon_event %}
		{% if event.day_to_event == 0 %}
		<h6>{{event.name}} Today!</h6>
		{% else %}
		<h6>{{event.name}} in {{event.day_to_event}} Day(s)</h6>
		{% endif %}
		{% endif %}
		{% endfor %}
		</div>
        
		<div class="alert alert-warning" role="alert">
		<h2>Popular Event!</h2>
		{% for event in most_popular_event %}
		<h6>{{event.name}} has {{event.user.all.count}} people(s) want to joined!</h6>
		{% endfor %}
		</div>
        <a class="btn btn-primary" name="button_to_regis" href="/events/registered/ ">Your Registered Event</a>
{% endblock %}