{% extends "events/base.html" %}
{% load staticfiles %} 
{% block title %}KU Event Regis{% endblock %}
{% block content %}

        {% if user.is_authenticated %} Welcome back, {{ user.username }}
        <a href="{% url 'logout' %}"> Logout </a> {% else %}
        <p><a href="{% url 'login' %}?next={{request.path}}"> Login </a> to register the events!.</p>
        {% endif %}

        <h1>Soon Interesting Events!</h1>
        <table class="table table-bordered">
            {% if events_list %}
            <tr class="bg-success">
                <th class="Detail_font">Event</th>
                <th class="Detail_font">Date</th>
                <th class="Detail_font">Details</th>
                <th class="Detail_font">Joined</th>
                <th class="Detail_font">Register</th>
            </tr>
            <ul>
                {% for event in events_list %}
                <tr>
                    <td class="Detail_font">{{ event.name }}</td>
                    <td class="Detail_font">{{ event.event_date }}</td>
                    <td class="Detail_font"><a href="/events/{{ event.id }}/">Details</a></td>
                    {% if event.max_regis is None %}
                    <td class="Detail_font" >{{event.user.all.count}}</td>
                    {% else %}
                    <td class="Detail_font">{{event.user.all.count}} / {{event.max_regis}}</td>
                    {% endif %}
                    {% if user in event.user.all %}
                    <td height=40 center align="center"><img width=35 height=35 src="{% static 'events/images/check.png' %}" alt="check"></td>
                    {% else %}
                    <td height=40 class="Detail_font"></td>
                    {% endif %}
                </tr>
                {% endfor %}
             </ul>
            {% else %}
            <p class="Header">No events are available.</p>
            {% endif %}
        </table>
		</br>
        <h2>Reminder</h2>
        {% for event in user.event_set.all %} 
			    {% if event.is_soon_event %}
			    <h6>{{event.name}} in {{event.day_to_event}} Day(s)</h6>
			    </br>
			    {% endif %}
		     {% endfor %}
		    </br> 
		<h2>Popular Event!</h2>
		    {% for event in most_popular_event %}
			    <h6>{{event.name}} has {{event.user.all.count}} people(s) want to joined!</h6>
		    {% endfor %}
        <a class="btn btn-primary" href="/events/registered/ ">Your Registered Event</a>

{% endblock %}
